
	
		.theme-six .box-law,
		.theme-six .box-law .six-logo,
		.theme-bsallpos .box-law,
		.theme-bsallpos .box-law .six-logo,
		.theme-ccv .box-law,
		.theme-ccv .box-law .six-logo,
		.theme-concardis .box-law,
		.theme-concardis .box-law .six-logo,
		.theme-bnppf .box-law,
		.theme-bnppf .box-law .six-logo {
			color: #FFFFFF;
		}
	


	
		html body footer .navitem a {
			color: #012656;
		}
		html body footer .btn.btn-next {
			background-color: #012656;
			border-color: #012656;
		}
		.btn.btn-next:active, .btn.btn-next:hover, .btn.btn-next:focus {
			background: #335888; 
		}

		
		.theme-bnppf .btn.btn-back{
			color: #012656;
		}
		.theme-bnppf .btn.btn-abort{
			color: #012656;
		}
		.theme-bnppf .btn.btn-next {
			background-color: #012656;
			border-color: #012656;
		}
	

	
		.theme-six:before, .theme-bsallpos:before, .theme-ccv:before, .theme-concardis:before {
			background-color: #FFFFFF;
		}

		.theme-bnppf:before {
			border-bottom-color: #FFFFFF;
			background-color: #FFFFFF;
		}

		.theme-bnppf:after {
			background-color: #FFFFFF;
		}
	
		.theme-bnppf .box-main {
			border-top: 5px solid #FFFFFF;
		}

	

